<!DOCTYPE html>
<html lang="pt_br">
  <head>
    <meta codigoSecreto="1938957756" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="shortcut icon"
      th:href="@{/assets/academic_graduate_cap_icon_225725.ico.crdownload}"
      type="image/x-icon"
    />
    <link rel="stylesheet" th:href="@{/assets/pico.min.css}" />
    <link rel="stylesheet" th:href="@{/assets/w3.css}" />
    <title>PWeb - by Samuel Araujo</title>
  </head>
  <body>
    <div class="w3-bar w3-black w3-xlarge">
      <!-- index -->
      <a href="/" class="w3-bar-item w3-button w3-mobile">Inicio</a>

      <!-- Adicionar Pessoas -->
      <a
        href="/adicionarPessoa"
        class="w3-bar-item w3-button w3-mobile w3-deep-purple"
        >Adicionar Pessoa</a
      >

      <!-- Listar Pessoas  -->
      <a href="/listarPessoas" class="w3-bar-item w3-button w3-mobile w3-button"
        >Listar Pessoa</a
      >

      <!-- Notícias -->
      <a
        href="/public/noticias.html"
        class="w3-bar-item w3-button w3-mobile w3-right"
        >Notícias</a
      >

      <!-- Sobre -->
      <a
        href="/public/sobre.html"
        class="w3-bar-item w3-button w3-mobile w3-right"
        >Sobre o Site</a
      >

      <!-- Contato -->
      <a
        href="/public/contato.html"
        class="w3-bar-item w3-button w3-mobile w3-right"
        >Contato</a
      >
    </div>

    <h2 class="w3-margin">Formulário para adicionar pessoas:</h2>

    <section class="section1 w3-margin">
      <form id="addPessoas">
        <div class="grid w3-margin-bottom">
          <!-- Grid -->

          <div for="firstname">
            Nome*:
            <input
              type="text"
              id="name"
              name="name"
              placeholder="Nome Completo"
              required
            />
          </div>

          <div for="email">
            E-mail*:
            <input
              type="email"
              id="email"
              name="email"
              placeholder="nome@dominio.com"
              required
            />
            <small class="w3-margin">Nunca divulgaremos :)</small>
          </div>

          <div for="date">
            Data*:
            <input type="date" id="date" name="date" placeholder="" required />
          </div>
        </div>
      </form>
    </section>

    <section>
      <form id="addPessoas" class="w3-container w3-card-4">
        <h2>Gênero*:</h2>
        <p>
          <input
            class="w3-radio"
            type="radio"
            name="gender"
            value="male"
            checked
            required
          />
          <label>Masculino</label>
        </p>
        <p>
          <input
            class="w3-radio"
            type="radio"
            name="gender"
            value="female"
            required
          />
          <label>Feminino</label>
        </p>
        <p>
          <input
            class="w3-radio"
            type="radio"
            name="gender"
            value=""
            required
          />
          <label>Não informar</label>
        </p>
      </form>
    </section>

    <!-- Botão -->
    <section class="button w3-margin">
      <div class="w3-bar">
        <button
          form="addPessoas"
          class="w3-button w3-blue"
          style="width: 40%"
          type="submit"
          formaction="/adicionadoComSucesso.html"
        >
          Adicionar
        </button>

        <button
          form="addPessoas"
          class="w3-button w3-blue-grey"
          style="width: 40%"
          type="reset"
        >
          Limpar
        </button>
      </div>
    </section>
    <p class="w3-margin">* Campo obrigatório</p>
  </body>
</html>
