<!DOCTYPE html>
<html lang="pt_br">

<head>
  <meta codigoSecreto="1938957756" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" th:href="@{/assets/academic_graduate_cap_icon_225725.ico.crdownload}" type="image/x-icon" />
  <link rel="stylesheet" th:href="@{/assets/pico.min.css}" />
  <link rel="stylesheet" th:href="@{/assets/w3.css}" />
  <title>PWeb - by Samuel Araujo</title>
</head>

<body>
  <div class="w3-bar w3-black w3-xlarge">
    <!-- index -->
    <a href="/" class="w3-bar-item w3-button w3-mobile">Inicio</a>

    <!-- Adicionar Pessoas -->
    <a href="/adicionarPessoa" class="w3-bar-item w3-button w3-mobile w3-deep-purple">Adicionar Pessoa</a>

    <!-- Listar Pessoas  -->
    <a href="/listarPessoas" class="w3-bar-item w3-button w3-mobile w3-button">Listar Pessoa</a>

    <!-- Notícias -->
    <a href="/public/noticias.html" class="w3-bar-item w3-button w3-mobile w3-right">Notícias</a>

    <!-- Sobre -->
    <a href="/public/sobre.html" class="w3-bar-item w3-button w3-mobile w3-right">Sobre o Site</a>

    <!-- Contato -->
    <a href="/public/contato.html" class="w3-bar-item w3-button w3-mobile w3-right">Contato</a>
  </div>

	<div style="padding:0 16px;">
		<h1>Formulário para cadastro de pessoas:</h1>
		<form method="POST" th:object="${pessoa}" th:action="@{/adicionarPessoa}">
			<div class="grid">
				<label for="nomeCompleto">
					Seu nomezinho *:<input type="text" placeholder="Seu nome completo." th:field="*{nome}" required />
				</label>
				<label for="email">
					e-Mail *: <input type="text" placeholder="nome@dominio.com" th:field="*{email}" required />
				</label>
				<label for="dataNascimento">
					Data de nascimento *: <input type="date" placeholder="dd/mm/aaaa" th:field="*{dataNascimento}"
						required />
				</label>
			</div>


			<legend>Gênero*</legend>
			<label for="Masculino">
				<input type="radio" id="Masculino" name="genero" value="Masculino" th:field="*{genero}"
					required />Masculino
			</label>
			<label for="Feminino">
				<input type="radio" id="Feminino" name="genero" value="Feminino" th:field="*{genero}"
					required />Feminino
			</label>
			<label for="Não Informado">
				<input type="radio" id="Não Informado" name="genero" value="Não Informado" th:field="*{genero}"
					required>Não informar
			</label>

			<div class="grid">
				<div><button type="submit">Adicionar!</button></div>
				<div><button type="reset" class="secondary">Limpar</button></div>
			</div>
			<p>* Campo obrigatório</p>
		</form>
	</div>
</body>

</html>