<!DOCTYPE html>
<html lang="pt_br">
  <head>
    <meta codigoSecreto="1938957756" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="shortcut icon"
      th:href="@{/assets/academic_graduate_cap_icon_225725.ico.crdownload}"
      type="image/x-icon"
    />
    <link rel="stylesheet" th:href="@{/assets/pico.min.css}" />
    <link rel="stylesheet" th:href="@{/assets/w3.css}" />
    <title>PWeb - by Samuel Araujo</title>
  </head>
  <body>
    <div class="w3-bar w3-black w3-xlarge">
      <!-- index -->
      <a href="/" class="w3-bar-item w3-button w3-mobile w3-deep-purple"
        >Inicio</a
      >

      <!-- Adicionar Pessoas -->
      <a href="/adicionarPessoa" class="w3-bar-item w3-button w3-mobile"
        >Adicionar Pessoa</a
      >

      <!-- Listar Pessoas  -->
      <a href="/listarPessoas" class="w3-bar-item w3-button w3-mobile w3-button"
        >Listar Pessoa</a
      >

      <!-- Notícias -->
      <a
        href="/public/noticias.html"
        class="w3-bar-item w3-button w3-mobile w3-right"
        >Notícias</a
      >

      <!-- Sobre -->
      <a
        href="/public/sobre.html"
        class="w3-bar-item w3-button w3-mobile w3-right"
        >Sobre o Site</a
      >

      <!-- Contato -->
      <a
        href="/public/contato.html"
        class="w3-bar-item w3-button w3-mobile w3-right"
        >Contato</a
      >
    </div>
    <div class="w3-display-topmiddle" style="margin-top: 60px">
      <h2><strong> Hidrate-se!</strong></h2>
    </div>
    <img class="w3-display-middle" src="assets/agua.jpg" alt="Beba Água" />
  </body>
</html>
