<!DOCTYPE html>
<html lang="pt_br">
  <head>
    <meta codigoSecreto="1938957756" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="shortcut icon"
      th:href="@{/assets/academic_graduate_cap_icon_225725.ico.crdownload}"
      type="image/x-icon"
    />
    <link rel="stylesheet" th:href="@{/assets/pico.min.css}" />
    <link rel="stylesheet" th:href="@{/assets/w3.css}" />
    <title>PWeb - by Samuel Araujo</title>
  </head>
  <body>
    <div class="w3-bar w3-black w3-xlarge">
      <!-- index -->
      <a href="/" class="w3-bar-item w3-button w3-mobile">Inicio</a>

      <!-- Adicionar Pessoas -->
      <a href="/adicionarPessoa" class="w3-bar-item w3-button w3-mobile"
        >Adicionar Pessoa</a
      >

      <!-- Listar Pessoas  -->
      <a
        href="/listarPessoas"
        class="w3-bar-item w3-button w3-mobile w3-button w3-deep-purple"
        >Listar Pessoa</a
      >

      <!-- Notícias -->
      <a
        href="/public/noticias.html"
        class="w3-bar-item w3-button w3-mobile w3-right"
        >Notícias</a
      >

      <!-- Sobre -->
      <a
        href="/public/sobre.html"
        class="w3-bar-item w3-button w3-mobile w3-right"
        >Sobre o Site</a
      >

      <!-- Contato -->
      <a
        href="/public/contato.html"
        class="w3-bar-item w3-button w3-mobile w3-right"
        >Contato</a
      >
    </div>

    <section>
      <div class="w3-container" style="margin-top: 80px">
        <h2 class="w3-display-topmiddle" style="margin-top: 60px">
          Lista de pessoas
        </h2>

        <table
          class="w3-margin w3-table w3-bordered"
          style="margin-bottom: 50px"
        >
          <tr>
            <th type="number">id</th>
            <th type="name">Nome Completo</th>
            <th>e-mail</th>
            <th>Data de Nascimento</th>
            <th>Gênero</th>
            <th>Editar</th>
            <th>Remover</th>
          </tr>

          <tr th:each="umaPessoa: ${todasAsPessoas}">
            <td th:text="${umaPessoa.id}"></td>
            <td th:text="${umaPessoa.nome}"></td>
            <td>
              <a
                th:href=" 'mailto:'+${umaPessoa.email}"
                th:text="${umaPessoa.email}"
              >
              </a>
            </td>
            <td
              th:text="${#temporals.format(umaPessoa.dataNascimento, 'dd/MM/yyyy')}"
            ></td>
            <td th:text="${umaPessoa.genero}"></td>

            <td><a th:href="@{/Editar/(id)(id=${umaPessoa.id})}">Editar</a></td>
            <td>
              <a th:href="@{/remover/(id)(id=${umaPessoa.id})}">Remover</a>
            </td>
          </tr>
        </table>
      </div>
    </section>
  </body>
</html>
